<div class="nav-menu-bar">
    <div class="container">
        <!-- <label class="mobile_menu" for="mobile_menu">
            <span>Menu</span>
        </label> -->
        <input id="mobile_menu" type="checkbox">
        <ul class="nav">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="dropdown" ui-sref="app.report"><i class=""></i><a>Reports</a>
                <div class="fulldrop">
                    <div class="column">
                        <ul>
                            <li><a>Use of Network</a></li>
                            <li><a href="#">Invalid Ticket</a></li>
                            <li><a href="#">Trip Details</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-table"></i> Timetable</a></li>
            <li><a href="#"><i class="fa fa-info"></i> Help</a></li>
            <li class="search">
                <form action="Search.php">
                    <i class="fa fa-search"></i>
                    <input type="text">
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div ui-view="mainContent"></div>
</div>
<!-- <footer>
    <div class="container">
        copyright
    </div>
</footer> -->